puremagic
python-magic
androguard
rich
tqdm
colorama
oletools
pefile
pyaxmlparser
yara-python
prompt_toolkit
frida-tools
lief
pygore
pdfminer.six
requests
rarfile
acefile
Pillow
dpkt
pythonnet
pydnsbl
vivisect
pycryptodome
bs4
wh1tem0cha
